header {
    display: block;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 0 10px;
    background: black;

    .wrap{
        position: relative;
        display: block;
        width: 100%;
        height: 100px;
        margin: 0 auto;
        max-width: 980;

        .logo{
            display: block;
            width: 250px;
            position: absolute;
            left: 10px;
            top: 50px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            
        }

        img {
            display: block;
            width: 70%;
            margin: 0;
        }
    }
}